<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>博客管理登录</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="../../static/css/me.css">

</head>
<body>
  <nav th:replace="admin/_fragments :: menu(0)">
  </nav>
  <br>
  <br>
  <br>


 <div class="m-container-small m-padded-tb-massive" style="max-width: 30em !important;">
   <div class="ur container">
     <div class="ui middle aligned center aligned grid">
       <div class="column">
         <h2 class="ui teal image header">
           <div class="content">
             管理后台登录
           </div>
         </h2>
         <div class="ui large form">
           <div class="ui  segment">
             <div class="field">
               <div class="ui left icon input">
                 <i class="user icon"></i>
                 <input type="text" name="username" placeholder="用户名">
               </div>
             </div>
             <div class="field">
               <div class="ui left icon input">
                 <i class="lock icon"></i>
                 <input type="password" name="password" placeholder="密码">
               </div>
             </div>
             <button class="ui fluid large teal submit button" onclick="commit()">登   录</button>
           </div>

           <div class="ui error mini message">
             <ul class="list">
             </ul>
           </div>
           <div class="ui mini negative message" style="display: none"></div>

         </div>

       </div>
     </div>
   </div>
 </div>
 <footer th:replace="_fragments::footer"></footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/js/sha1.js}"></script>

<script type="text/javascript">
  function commit() {
    var username=$("input[name='username']").val();
    var password=$("input[name='password']").val();
    var flag=validate(username,password);
      if (flag)
      {
        //双重加密
        var sha1password = sha1(sha1(password));
        $.ajax({
          type: "post",
          dataType: "JSON",
          url: "/admin/login",
          contentType: "application/json;charset=UTF-8",
          async: false,
          data: JSON.stringify({
            "username": username,
            "password": sha1password
          })
        }).done(function(result){
          if(result.message!=null)
          {
            var negative = $(".negative.message");
            negative.text(result.message);
            negative.css("display","block");
          }else{
            window.location.replace(result.url);
          }
        }).fail(function(){
          alert("服务器繁忙，稍后再试吧！");
        })
      }
  }
  function validate(username,password) {
    var flag=true;
    var $mini = $(".error.mini.message");
    var list = $(".list");
    //先清空错误信息
    list.empty();
    $mini.css("display","none");
    //重新校验错误
    if(username.trim()==="")
    {
      flag=false;
      list.append($("<li></li>").text("请输入用户名"));
    }
    if(password.trim()==="")
    {
      flag=false;
      list.append($("<li></li>").text("请输入密码"));
    }
    //如果校验失败，显示错误信息
    if(!flag)
    {
      $mini.css("display","block");
    }
    return flag;
  }
</script>
</body>
</html>